body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
}

.menu {
    margin: 50px 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.menu-item {
    display: inline-block;
    margin-right: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #005f80;
}

.menu-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}