body {
    font-family: Arial, sans-serif;
    background-color: rgba(240, 240, 240, 0.8); /* Fondo de color gris claro */
    margin: 0;
    padding: 0;
}

.menu, .cart, .actions {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    box-sizing: border-box;
    float: left;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #005f80;
}

.menu {
    clear: both;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
}

.menu li {
    margin-right: 10px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.menu-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.actions {
    float: right;
}

.button {
    background-color: #FF5733;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 8px;
}

#notification-list {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

#num-personas {
    width: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#divide-cuenta-button {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

#divide-cuenta-button:hover {
    background-color: #005f80;
}